# Classifying the missing Service

In [1]:
missing_path = 'C:/Users/e745092/Desktop/Visual Studio/missing_service.csv'

path = 'C:/Users/e745092/Desktop/Visual Studio/OR_Cases_2020.csv'

import pandas as pd 

data = pd.read_csv(path)

In [2]:
data.head()

,Lead Surgeon,Date,MRN,Diagnosis Codes,Case Procedures,Service,Case Indx,Primary Categ,Sub Categ
0,142333,1/6/2020,2348312,Gastric adenocarcinoma (HCC) [C16.9],Laparoscopic Subtotal Gastrectomy With Roux-En...,General,Y,Esophagus,G
1,131184,1/6/2020,8705179,Chronic fibrosing pancreatitis (HCC) [K86.1],"Total Pancreatectomy, Auto Islet Cell Transpla...",Transplant,Y,Pancreas,P
2,152600,1/8/2020,15415485,Malignant neoplasm of abdominal esophagus (HCC...,Minimally Invasive Esophagectomy Ivor Lewis [4...,Thoracic,Y,Esophagus,E
3,152600,1/9/2020,14936925,"History of esophagectomy [Z98.890, Z90.49]",Esophagogastroduodenoscopy W/ Dilation [78],Thoracic,Y,Esophagus,E-HxE
4,122994,1/10/2020,8796688,Malignant neoplasm of lesser curvature of stom...,"Egd [688], Laparoscopic Distal Gastrectomy Wi...",General,Y,Gastric,G

In [3]:
data = data.dropna()

In [4]:
data.shape

(307, 9)

In [5]:
data.head()

,Lead Surgeon,Date,MRN,Diagnosis Codes,Case Procedures,Service,Case Indx,Primary Categ,Sub Categ
0,142333,1/6/2020,2348312,Gastric adenocarcinoma (HCC) [C16.9],Laparoscopic Subtotal Gastrectomy With Roux-En...,General,Y,Esophagus,G
1,131184,1/6/2020,8705179,Chronic fibrosing pancreatitis (HCC) [K86.1],"Total Pancreatectomy, Auto Islet Cell Transpla...",Transplant,Y,Pancreas,P
2,152600,1/8/2020,15415485,Malignant neoplasm of abdominal esophagus (HCC...,Minimally Invasive Esophagectomy Ivor Lewis [4...,Thoracic,Y,Esophagus,E
3,152600,1/9/2020,14936925,"History of esophagectomy [Z98.890, Z90.49]",Esophagogastroduodenoscopy W/ Dilation [78],Thoracic,Y,Esophagus,E-HxE
4,122994,1/10/2020,8796688,Malignant neoplasm of lesser curvature of stom...,"Egd [688], Laparoscopic Distal Gastrectomy Wi...",General,Y,Gastric,G

In [6]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split

data['Service'].unique()

array(['General', 'Transplant', 'Thoracic'], dtype=object)

In [7]:
import re

data['DX1']=data['Diagnosis Codes'].apply(lambda x: re.findall('\[(.*?)\]',x))
# print(data['DX'])
data['Procedure Codes1']=data['Case Procedures'].apply(lambda x: re.findall('\[(.*?)\]',x))
#print(data['Procedure Codes'])

In [8]:
data['DX_Codes'] = data['DX1'].str.get(0)
# data['Procedure_Codes'] = data['Procedure Codes1'].str.get(0)
data['Procedure_Codes'] =  data['Procedure Codes1'].str.join(', ')
data.head()

,Lead Surgeon,Date,MRN,Diagnosis Codes,Case Procedures,Service,Case Indx,Primary Categ,Sub Categ,DX1,Procedure Codes1,DX_Codes,Procedure_Codes
0,142333,1/6/2020,2348312,Gastric adenocarcinoma (HCC) [C16.9],Laparoscopic Subtotal Gastrectomy With Roux-En...,General,Y,Esophagus,G,[C16.9],"[1075612297, 1075612211]",C16.9,"1075612297, 1075612211"
1,131184,1/6/2020,8705179,Chronic fibrosing pancreatitis (HCC) [K86.1],"Total Pancreatectomy, Auto Islet Cell Transpla...",Transplant,Y,Pancreas,P,[K86.1],"[1075612630, 1075611937]",K86.1,"1075612630, 1075611937"
2,152600,1/8/2020,15415485,Malignant neoplasm of abdominal esophagus (HCC...,Minimally Invasive Esophagectomy Ivor Lewis [4...,Thoracic,Y,Esophagus,E,[C15.5],"[43287, 1075617378, 688]",C15.5,"43287, 1075617378, 688"
3,152600,1/9/2020,14936925,"History of esophagectomy [Z98.890, Z90.49]",Esophagogastroduodenoscopy W/ Dilation [78],Thoracic,Y,Esophagus,E-HxE,"[Z98.890, Z90.49]",[78],"Z98.890, Z90.49",78
4,122994,1/10/2020,8796688,Malignant neoplasm of lesser curvature of stom...,"Egd [688], Laparoscopic Distal Gastrectomy Wi...",General,Y,Gastric,G,[C16.5],"[688, 1070000770]",C16.5,"688, 1070000770"

In [9]:
X = data.drop(['Lead Surgeon', 'Date', 'MRN', 'Diagnosis Codes', 'Case Procedures', 'Service', 'DX1', 'Procedure Codes1'], axis=1)
y = data['Service']
print(X.shape)
print(y.shape)

(307, 5)
(307,)

In [10]:
encoder = OneHotEncoder(handle_unknown='ignore')

X.head()

  Case Indx Primary Categ Sub Categ         DX_Codes         Procedure_Codes
0         Y     Esophagus         G            C16.9  1075612297, 1075612211
1         Y      Pancreas         P            K86.1  1075612630, 1075611937
2         Y     Esophagus         E            C15.5  43287, 1075617378, 688
3         Y     Esophagus     E-HxE  Z98.890, Z90.49                      78
4         Y       Gastric         G            C16.5         688, 1070000770

In [11]:
X_encoded = encoder.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)

In [13]:
# LinearSVC model 

from sklearn.svm import LinearSVC

lin_svc_clf = LinearSVC(C=5, loss='hinge', random_state=42)

lin_svc_clf.fit(X_train, y_train)

LinearSVC(C=5, loss='hinge', random_state=42)

In [15]:
from sklearn.metrics import classification_report

print(classification_report(y_test, lin_svc_clf.predict(X_test)))

              precision    recall  f1-score   support

     General       0.92      0.92      0.92        24
    Thoracic       0.94      0.94      0.94        33
  Transplant       1.00      1.00      1.00         5

    accuracy                           0.94        62
   macro avg       0.95      0.95      0.95        62
weighted avg       0.94      0.94      0.94        62

In [16]:
missing_service = pd.read_csv(missing_path)

missing_service.head()

,Diagnosis Codes,Case Procedures,Service,Case Indx,Primary Categ,Sub Categ
0,Gastric anastomotic leak [K91.89],Egd With Endosponge Exchange [1075612272],NaN,Y,Gastric,LM
1,Malignant neoplasm of lower lobe of right lung...,Right Video Assisted Thoracic Surgery Wedge Re...,NaN,Y,Lung,L-WR
2,Lung mass [R91.8],"Bronchoscopy [1075611394], Cervical Mediastino...",NaN,Y,Lung,L-LR
3,"Malignant neoplasm of upper lobe bronchus, lef...","Bronchoscopy [1075611394], Cervical Mediastino...",NaN,Y,Lung,L-LR
4,Endotheliosarcoma (HCC) [C49.9]\nLung nodule [...,Right Video Assisted Thoracic Surgery Wedge Re...,NaN,Y,Lung,L-WR

In [17]:
missing_service.isnull().any()

Diagnosis Codes    False
Case Procedures    False
Service             True
Case Indx          False
Primary Categ      False
Sub Categ          False
dtype: bool

In [18]:
missing_service = missing_service.drop('Service', axis=1)

In [19]:
missing_service.head()

,Diagnosis Codes,Case Procedures,Case Indx,Primary Categ,Sub Categ
0,Gastric anastomotic leak [K91.89],Egd With Endosponge Exchange [1075612272],Y,Gastric,LM
1,Malignant neoplasm of lower lobe of right lung...,Right Video Assisted Thoracic Surgery Wedge Re...,Y,Lung,L-WR
2,Lung mass [R91.8],"Bronchoscopy [1075611394], Cervical Mediastino...",Y,Lung,L-LR
3,"Malignant neoplasm of upper lobe bronchus, lef...","Bronchoscopy [1075611394], Cervical Mediastino...",Y,Lung,L-LR
4,Endotheliosarcoma (HCC) [C49.9]\nLung nodule [...,Right Video Assisted Thoracic Surgery Wedge Re...,Y,Lung,L-WR

In [20]:
missing_service['DX1']=missing_service['Diagnosis Codes'].apply(lambda x: re.findall('\[(.*?)\]',x))
# print(data['DX'])
missing_service['Procedure Codes1']=missing_service['Case Procedures'].apply(lambda x: re.findall('\[(.*?)\]',x))
#print(data['Procedure Codes'])

missing_service['DX_Codes'] = missing_service['DX1'].str.get(0)
# data['Procedure_Codes'] = data['Procedure Codes1'].str.get(0)
missing_service['Procedure_Codes'] =  missing_service['Procedure Codes1'].str.join(', ')
missing_service.head()

,Diagnosis Codes,Case Procedures,Case Indx,Primary Categ,Sub Categ,DX1,Procedure Codes1,DX_Codes,Procedure_Codes
0,Gastric anastomotic leak [K91.89],Egd With Endosponge Exchange [1075612272],Y,Gastric,LM,[K91.89],[1075612272],K91.89,1075612272
1,Malignant neoplasm of lower lobe of right lung...,Right Video Assisted Thoracic Surgery Wedge Re...,Y,Lung,L-WR,[C34.31],"[1075619445, 1075617883, 1075617882]",C34.31,"1075619445, 1075617883, 1075617882"
2,Lung mass [R91.8],"Bronchoscopy [1075611394], Cervical Mediastino...",Y,Lung,L-LR,[R91.8],"[1075611394, 1026, 1075611488, 1075611458]",R91.8,"1075611394, 1026, 1075611488, 1075611458"
3,"Malignant neoplasm of upper lobe bronchus, lef...","Bronchoscopy [1075611394], Cervical Mediastino...",Y,Lung,L-LR,[C34.12],"[1075611394, 1026, 1075617883]",C34.12,"1075611394, 1026, 1075617883"
4,Endotheliosarcoma (HCC) [C49.9]\nLung nodule [...,Right Video Assisted Thoracic Surgery Wedge Re...,Y,Lung,L-WR,"[C49.9, R91.1]",[1075617883],C49.9,1075617883

In [21]:
missing_service = missing_service.drop(['Diagnosis Codes', 'Case Procedures', 'DX1', 'Procedure Codes1'], axis=1)
missing_service.head()

,Case Indx,Primary Categ,Sub Categ,DX_Codes,Procedure_Codes
0,Y,Gastric,LM,K91.89,1075612272
1,Y,Lung,L-WR,C34.31,"1075619445, 1075617883, 1075617882"
2,Y,Lung,L-LR,R91.8,"1075611394, 1026, 1075611488, 1075611458"
3,Y,Lung,L-LR,C34.12,"1075611394, 1026, 1075617883"
4,Y,Lung,L-WR,C49.9,1075617883

In [22]:
missing_service_encoded = encoder.transform(missing_service)

In [23]:
lin_svc_clf_predictions = lin_svc_clf.predict(missing_service_encoded)
lin_svc_clf_predictions

array(['General', 'Thoracic', 'Thoracic', 'Thoracic', 'Thoracic',
       'General', 'Thoracic', 'General', 'Thoracic', 'Thoracic',
       'General', 'Thoracic', 'Thoracic', 'Thoracic', 'Thoracic',
       'General', 'Thoracic', 'Thoracic', 'General', 'General', 'General',
       'Thoracic', 'General', 'General', 'Thoracic', 'Thoracic'],
      dtype=object)

In [24]:
services = pd.Series(lin_svc_clf_predictions)

In [25]:
services

0      General
1     Thoracic
2     Thoracic
3     Thoracic
4     Thoracic
5      General
6     Thoracic
7      General
8     Thoracic
9     Thoracic
10     General
11    Thoracic
12    Thoracic
13    Thoracic
14    Thoracic
15     General
16    Thoracic
17    Thoracic
18     General
19     General
20     General
21    Thoracic
22     General
23     General
24    Thoracic
25    Thoracic
dtype: object